<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
			http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
			http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
			http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-2.5.xsd
			http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">
    <context:component-scan base-package="com.smartpump.resources, com.smartpump.services, com.smartpump.exceptions.mappers, com.smartpump.utils" />
    
    <!-- Exceptions beans -->
    <bean id="genericExceptionMapper" class="com.smartpump.exceptions.mappers.GenericExceptionMapper" scope="singleton"/>
    <bean id="restExceptionMapper" class="com.smartpump.exceptions.mappers.RestExceptionMapper" scope="singleton"/>
    
    <!-- DAO beans -->
   <bean id="UserDao" class="com.smartpump.dao.sql.UserDao"/>
   <bean id="DoctorDao" class="com.smartpump.dao.sql.DoctorDao"/>		
   
   <!-- Resources beans -->
   <bean id="UserResource" class="com.smartpump.resources.UserResource" />
   <bean id="DoctorResource" class="com.smartpump.resources.DoctorResource" />
   
   <!-- Service beans -->
   <bean id="DoctorService" class="com.smartpump.services.DoctorService" />
   
   <!-- Utils beans -->
   <bean id="tokenGenerator" class="com.smartpump.utils.TokenGenerator" />
   
   <!-- Persistence beans -->
   <tx:annotation-driven transaction-manager="transactionManager"/>
    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory" />
    </bean>
   
    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="persistenceXmlLocation" value="classpath:/META-INF/persistence.xml" />
        <property name="persistenceUnitName" value="userUnit" />       
        <property name="dataSource" ref="dataSource" />
       <!--  <property name="packagesToScan" value="com.smartpump.*" /> -->
      	<property name="jpaVendorAdapter" ref ="vendorAdapter"/>
    </bean> 
        
   <bean id="vendorAdapter" class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
        <property name="showSql" value="true" />
        <property name="databasePlatform" value="org.hibernate.dialect.MySQLDialect" />
   </bean>
   
   <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource"> 
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://aa6mjoobosk803.cl2wr2bk6v6l.sa-east-1.rds.amazonaws.com:3306/bismara" />
		<property name="username" value="admin" />
		<property name="password" value="bismara1234" />
	</bean> 
   <bean class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor"/>
   
   <!-- Mail beans -->
   <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
	<property name="host" value="smtp.gmail.com" />
	<property name="port" value="587" />
	<property name="username" value="some.raiseyourconfidence@gmail.com" />
	<property name="password" value="somebismara" />
	<!-- <property name="username" value="no.reply.bismara@gmail.com" />
	<property name="password" value="bismara1234" /> -->
	<property name="javaMailProperties">
	   <props>
       	      <prop key="mail.smtp.auth">true</prop>
       	      <prop key="mail.smtp.starttls.enable">true</prop>
       	   </props>
	</property>
	</bean>
	 
	<bean id="mailService" class="com.smartpump.services.MailService">
		<property name="mailSender" ref="mailSender" />
	</bean>
   
</beans>