<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
			http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
			http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
			http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-2.5.xsd
			http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">
			
     <context:component-scan base-package="com.smartpump.service.RestService, com.smartpump.service.MailService" />
 
   <!--  <tx:annotation-driven transaction-manager="transactionManager" />  
     <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory" />
    </bean>
    
  <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="persistenceXmlLocation" value="classpath:/META-INF/persistence.xml" />
        <property name="persistenceUnitName" value="personUnit" />       
        <property name="dataSource" ref="dataSource" /> -->
      <!--  <property name="packagesToScan" value="com.smartpump.*" />
      <property name="jpaVendorAdapter">
            <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
                <property name="showSql" value="true" />
                <property name="databasePlatform" value="org.hibernate.dialect.MySQLDialect" />
            </bean>
        </property>
    </bean>  -->
    
   <bean id="personDao" class="com.smartpump.dao.impl.PersonDaoImpl"/>	
   <bean id="restService" class="com.smartpump.service.RestService" />
    
   <!-- <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource"> 
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/bismara_bd" />
		<property name="username" value="root" />
		<property name="password" value="" />
	</bean> -->
	
   <!-- Needed so the @PersistenceUnit annotation is recognized -->
    <bean class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor"/>
    
   <bean id="mailService" class="com.smartpump.service.MailService">
	<property name="mailSender" ref="mailSender" />
    <property name="velocityEngine" ref="velocityEngine"/>  
	</bean> 
	
    <bean id="velocityEngine" class="org.springframework.ui.velocity.VelocityEngineFactoryBean">
        <property name="velocityProperties">
            <value>
                resource.loader=class
                class.resource.loader.class=org.apache.velocity.runtime.resource.loader.ClasspathResourceLoader
            </value>
        </property>
    </bean> 
        
    <!--  Beans for email  -->
     <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
        <property name="host" value="smtp.gmail.com"/>
        <property name="port" value="587"/>
        <property name="username" value="borsattolucas"/>
        <property name="password" value="lucasborsatto"/>
		<property name="protocol" value="smtp"/>
        <property name="javaMailProperties">            
            <props>          
                <!-- Use SMTP-AUTH to authenticate to SMTP server -->
                <prop key="mail.smtp.auth">true</prop>
                 <prop key="mail.smtp.debug">true</prop>
                <!-- Use TLS to encrypt communication with SMTP server -->
                <prop key="mail.smtp.starttls.enable">true</prop>
            </props>
        </property>
    </bean> 
    
<!--    <bean id="alertMailMessage" class="org.springframework.mail.SimpleMailMessage">
        <property name="from">            
            <value>borsattolucas@gmail.com</value>
        </property>
        <property name="to">            
            <value>lucas_borsatto@hotmail.com</value>
        </property>
        <property name="subject" value="I want Bismara!"/>
    </bean> -->
  
  
 
   </beans>
